<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Admin Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div th:insert="welcometext"></div>
<h1 style="text-align: center">Csak az Admin láthatja ezt az oldalt.</h1>
<div style="background:#FFFF00FF;padding:5px">
  <h4 style="text-align:center">Az adminok sokszor túl sokat dolgoznak...</h4>
</div>
<div class="header">
    <h1>Admin oldal</h1>
    <p>Tartson néha szünetet, igyon velünk egy <b>kávét</b>.</p>
</div>
<div th:insert="menu"></div>
<div style="position:relative;" class="row">
    <img src="/images/10.jpg" />
    <div class="admin-image-text">Coffee time...</div>
</div>
<div class="footer">
    <h2>&copy; Copyright 2022 MIMIX Bútoráruház</h2>
</div>
</body>
</html>
