<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:insert="menu"></div>
    <div th:insert="welcometext"></div>
    <h1 style="text-align: center">Bárki láthatja ezt az oldalt, akkor is, ha nem bejelentkezett felhasználó.</h1>
    <h1>Adatok megjelenítése a 3 táblából: jelentkezo, jelentkezes, kepzes</h1>
    <p>Az adatbázisban a jelentkezo táblába a forrásfájl első 90 db jelentkezőjét másoltam (100. azonosítóval bezárólag,
        mivel az azonosítószámok nem egyesével növekednek végig), míg a jelentkezes táblába a forrásfájl első olyan 50 db rekordját másoltam,
        amelyeknél a jelentkezoid maximum 100 (másképp a PostgreSQL hibát dobna, ha olyan jelentkezoid szerepelne a jelentkezes táblában,
        amilyen id-jú jelentkező nincs is a jelentkezo táblában. De ugye 90 db jelentkezőt másoltam a jelentkezo táblába, a jelentkezes táblában
        pedig csak 50 db jelentkezés van, és ott is több jelentkezés ugyanazé a jelentkezőé, így nem jutott minden jelentkezőhöz jelentkezés,
        de az ellenőrzést természetesen az összes jelentkezőre elvégeztem a jelentkezo táblában (tehát hogy az adott jelentkezőhöz tartozik-e egy vagy több jelentkezés
        a jelentkezes táblából).</p>
    <table th:border="1" th:cellspacing="2" th:cellpadding="15">
        <thead>
        <tr>
            <td>Jelentkező azon.</td>
            <td>Jelentkező neve</td>
            <td>Nem</td>
            <td>Jelentkezés azon.</td>
            <td>Sorrend</td>
            <td>Szerzett</td>
            <td>Képzés azon.</td>
            <td>Képzés neve</td>
            <td>Felvehető</td>
            <td>Minimum</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : ${rowListData}">
            <td th:each="rowData : ${row}">
                <span th:text="${rowData}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>