<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login Form</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div th:insert="menu"></div>
    <h1 style="text-align: center">Bárki láthatja ezt az oldalt, akkor is, ha nem bejelentkezett felhasználó.</h1>
</body>
</html>
