<div class="navbar" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <div>
        <span sec:authorize="isAnonymous()">
            <a th:href="@{/login}">Belépés</a>
            <a th:href="@{/regisztral}">Regisztrál</a>
        </span>
        <span sec:authorize="isAuthenticated()">
            <a th:href="@{/home}">Főoldal</a>
            <a th:href="@{/logout}">Kilépés</a>
        </span>
        <span sec:authorize="hasRole('ROLE_ADMIN')">
            <a th:href="@{/admin/home}">Admin</a>
        </span>
        <span sec:authorize="hasRole('ROLE_USER')">
            <a th:href="@{/gallery}">Galéria</a>
        </span>
        <span>
            <a th:href="@{/kozepiskola}">3 táblából adatok</a>
        </span>
        <span>
            <a th:href="@{/uzenetkuldes}">Üzenet küldése</a>
        </span>
    </div>
</div>