<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Home</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div th:insert="welcometext"></div>
  <h1 style="text-align: center">Csak bejelentkezett felhasználó láthatja ezt az oldalt.</h1>
  <div style="background:#FFFF00FF;padding:5px">
    <h4 style="text-align:center">Ön a legjobb döntést hozta, hogy benézett hozzánk!</h4>
  </div>
  <div class="header">
      <h1>Főoldal</h1>
      <p>Isten hozta köreinkben a <b>MIMIX Bútoráruház</b> weblapján!</p>
  </div>
  <div th:insert="menu"></div>
  <div class="row">
    <h1 style="margin:20px 0 20px 20px;">Magyarország egyik legnagyobb bútoráruháza vagyunk, széles kínálattal!</h1>
    <div class="subrow">
      <div class="subrow-third subrow-container subrow-margin-bottom">
        <img src="/images/14.jpg" style="width:100%;height:300px;cursor:pointer;">
        <div class="subrow-container">
          <p><b>Székek</b></p>
          <p style="margin-top:10px;">Az alkotó munka egyik legfontosabb kelléke a szék. Bízza ránk e "terhet", Ön csak élvezze!</p>
        </div>
      </div>
      <div class="subrow-third subrow-container subrow-margin-bottom">
        <img src="/images/15.jpg" style="width:100%;height:300px;cursor:pointer;">
        <div class="subrow-container">
          <p><b>Ágyak</b></p>
          <p style="margin-top:10px;">A legpihentetőbb éjszakákat garantáljuk Önnek és családjának!</p>
        </div>
      </div>
      <div class="subrow-third subrow-container">
        <img src="/images/16.jpg" style="width:100%;height:300px;cursor:pointer;">
        <div class="subrow-container">
          <p><b>Irodai bútorok</b></p>
          <p style="margin-top:10px;">Velünk az elegancia tetőfokára hághat, és üzleti partnerei csak ámulni fognak irodáján!</p>
        </div>
      </div>
    </div>
    <div style="width:30%;background-color:#fff;color:#000;" class="side">
      <h2>Ünnepi akcióink Önre várnak</h2>
      <h5 style="margin-top:10px;margin-bottom:5px;">Lepje meg szeretteit:</h5>
      <div>
        <img src="/images/11.jpg" />
      </div>
    </div>
    <div class="main">
      <h2>CARAFA ÁGY</h2>
      <h5>40% kedvezmény</h5>
      <div style="margin:20px 0 20px 0;"><img class="user-image" src="/images/12.jpg" href="#" /></div>
      <p>Varázsolja otthonába a trópusok világát, öntsön forróságot ebbe a hideg télbe...</p>
      <br>
      <h2>MENCHO ÁGY</h2>
      <h5>25% kedvezmény</h5>
        <div style="margin:20px 0 20px 0;"><img class="user-image" src="/images/13.jpg" href="#" /></div>
      <p>Az elegancia páratlan királya garantáltan pompás ékköve lehet a szobának, Ön is élvezheti...</p>
    </div>
  </div>
  <div class="footer">
    <h2>&copy; Copyright 2022 MIMIX Bútoráruház</h2>
  </div>
</body>
</html>
