body {
    background-color: #ED6464;
    font-family: Arial;
    margin: 0;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
}

.navbar {
    display: flex;
    background-color: #18371a;
    height: 50px;
}

.navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}

li {
    height: 40vh;
    flex-grow: 1;
}

img {
    max-height: 100%;
    min-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}

.admin-image-text {
    position: absolute;
    top: 350px;
    right: 350px;
    z-index: 10;
}

.user-image {
    cursor: pointer;
}

.side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
}

.main {
    flex: 70%;
    background-color: white;
    padding: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
}

@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
    }
}

#homepageDiv {
    width: 500px;
    height: 400px;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
}

#homepageDiv p {
    margin-bottom: 40px;
}